:root{
    --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
    --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
    --Grayish-Blue: hsl(212, 23%, 69%);
    --Light-Grayish-Blue: hsl(210, 46%, 95%);
    --txt-sm:13px;
    --txt-md:16px;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'Manrope', sans-serif;
}
body{
    background-color: rgb(211, 221, 230);
}
main{
    display: grid;
    width: 100%;
    height: 650px;
    place-content: center;
    gap: 10px;
}
.article{
    display: grid;
    width: 90%;
    place-self: center;
    border-radius: 10px;
    background-color: var(--Light-Grayish-Blue);
}
.article-image{
    width: 100%;
    height: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;  
}
.article-info{
    padding: 25px;
}
.article-info__title{
    color: var(--Very-Dark-Grayish-Blue);
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 10px;
}
.article-info__description{
    color: var(--Desaturated-Dark-Blue);
    font-size: 1.3rem;
    font-weight: 500;
}
.article-info__user{
    display: grid;
    width: 90%;
    place-self: center;
    grid-template-columns: 40px 1fr 40px;
    padding: 5px;
    height: 60px;
}
.user-image{
    width: 35px;
    height: 35px;
}
.attribution{
    place-self: center;
}